---
import Container from "@components/container.astro";
import Tile from "@components/Tile.astro";
import Layout from "@layouts/Layout.astro";
import mira from "assets/mira_logo.png";
import ciso from "assets/ciso-assistant_logo_.png";
import linkedin from "assets/icons/linkedin.png";
import medium from "assets/icons/medium.png";
import discord from "assets/icons/discord.png";
import youtube from "assets/icons/youtube.png";
import blog from "assets/icons/blog.png";
import external_link from "assets/icons/external_link.png";
const data = [
  {
    title: "Mira - Community",
    description: "Version gratuite et open source de Mira. Plus de détails dans le readme.",
    link: "https://github.com/intuitem/mira-community",
    icon: mira,
  },
  {
    title: "CISO Assistant - community",
    description: "Version gratuite et open source de Ciso Assistant. Plus de détails dans le readme.",
    link: "https://github.com/intuitem/ciso-assistant-community",
    icon: ciso,
  },
  {
    title: "Discord",
    description: "Rejoignez notre communauté sur Discord et interagissez avec l'équipe et d'autres experts",
    link: "https://discord.gg/qvkaMdQ8da",
    icon: discord,
  },
  {
    title: "Agile Security Framework",
    description: "Découvrez notre méthodologie de sécurité agile",
    link: "https://agilesecurityframework.com",
    icon: external_link,
  },
  {
    title: "Blog",
    description: "Découvrez nos articles sur le blog",
    link: "https://intuitem.com/blog",
    icon: blog,
  },
  {
    title: "LinkedIn",
    description: "Suivez notre actualité sur Linkedin",
    link: "https://www.linkedin.com/company/intuitem",
    icon: linkedin,
  },
  {
    title: "Medium",
    description: "Consultez nos publications sur Medium",
    link: "https://medium.com/@smimite",
    icon: medium,
  },
  {
    title: "Streams",
    description: "Bientôt",
    link: "#",
    icon: youtube,
  },

];
---

<Layout title="Communauté">
  <Container class="p-4 lg:p-10">
    <section class="">
      <!-- Create a grid of tiles in Astro style -->
      <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
        {data.map((item) => <Tile params={item} />)}
      </div>
    </section>
  </Container>
</Layout>
