---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Trial">
  <Container class="">
    <Sectionhead>
      <Fragment slot="title">Essai gratuit</Fragment>
      <Fragment slot="desc">Démarrez votre essai de 30 jours dès aujourd'hui. Carte bancaire non requise.</Fragment>
    </Sectionhead>
    <div class="py-4">
      <iframe style="border:none;width:100%;" height="750px" src="https://opnform.com/forms/trial-form-pvte4j-1"></iframe>
    </div>
  </Container>
</Layout>
