@keyframes blob {
    0% {
        transform: scale(1) translate(0, 0);
    }

    25% {
        transform: scale(1.2) translate(20px, 20px);
    }

    75% {
        transform: scale(0.8) translate(-20px, -20px);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}

.blob {
    animation: blob 8s infinite;
}


.delay-3 {
    animation-delay: 3s;
}

.delay-4 {
    animation-delay: 4s;
}

.delay-6 {
    animation-delay: 6s;
}
