---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Communauté">
  <Container class="p-10">
    <section class="lg:p-10 p-2">
      <div class="mb-4 font-highlight text-2xl text-violet-800">
        Agile Security Framework (ASF)
      </div>
      <p class="my-4">
        Agile methodologies are today's standard to develop software. However,
        security is still tricky to include the development process. As agile
        practitioners ourselves, we have developed a security framework that is
        easy to integrate into your workflow.
      </p>
      <p class="my-4">
        The documentation of ASF has grown big over the years and has moved to
        its own website. You can find it here: <a
          href="https://agilesecurityframework.com"
          class="text-indigo-500">agilesecurityframework.com</a
        >
      </p>
      <p class="my-4">
        Interested in contributing? You're welcome to reach out 🤗
      </p>
    </section>

    <section class="lg:p-10 p-2">
      <div class="mb-4 font-highlight text-2xl text-violet-800">
        Vendor Manager - Community Edition
      </div>

      <p>
        If you are trying to optimize your TCO (Total Cost of Ownership), you
        are probably moving more and more to SaaS products and external
        services. In this case, Vendors Management can become a nightmare and a
        burden to maintain.
      </p>
      <p>
        As part of our Third Party Risk Management (TPRM) initiative, we are
        relasing a FREE community edition of the vendor manager solution so that
        everyone can afford to have at least some basic structure to manage
        third parties in a simple and structured way.
      </p>
      <p>
        The repository is being structured and will be released soon. Stay
        tuned!
      </p>
    </section>
  </Container>
</Layout>
