---
import Container from "@components/container.astro";
import Tile from "@components/Tile.astro";
import Layout from "@layouts/Layout.astro";
import mira from "assets/mira_logo.png";
import ciso from "assets/ciso-assistant_logo_.png";
import linkedin from "assets/icons/linkedin.png";
import medium from "assets/icons/medium.png";
import discord from "assets/icons/discord.png";
import youtube from "assets/icons/youtube.png";
import external_link from "assets/icons/external_link.png";
import blog from "assets/icons/blog.png";
const data = [
  {
    title: "Mira-Community",
    description: "Free and Open Source Community Edition of Mira",
    link: "https://github.com/intuitem/mira-community",
    icon: mira,
  },
  {
    title: "CISO Assistant - community",
    description: "Free and Open Source Community Edition of CISO Assistant",
    link: "https://github.com/intuitem/ciso-assistant-community",
    icon: ciso,
  },
  {
    title: "Discord",
    description: "Join our open Discord server to chat with the team and the experts community",
    link: "https://discord.gg/qvkaMdQ8da",
    icon: discord,
  },
  {
    title: "Agile Security Framework",
    description: "Learn more about about approach to integrate agile principle in cyber security",
    link: "https://agilesecurityframework.com",
    icon: external_link,
  },
  {
    title: "Blog",
    description: "Read and react to our blog posts",
    link: "https://intuitem.com/blog",
    icon: blog,
  },
  {
    title: "LinkedIn",
    description: "Follow us on LinkedIn",
    link: "https://www.linkedin.com/company/intuitem",
    icon: linkedin,
  },
  {
    title: "Medium",
    description: "Check out our Medium publications",
    link: "https://medium.com/@smimite",
    icon: medium,
  },
  {
    title: "Streams",
    description: "Coming soon",
    link: "#",
    icon: youtube,
  },

];
---

<Layout title="Communauté">
  <Container class="p-4">
    <section class="">
      <!-- Create a grid of tiles in Astro style -->
      <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
        {data.map((item) => <Tile params={item} />)}
      </div>
    </section>
  </Container>
</Layout>
