---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Trial">
    <Container>
        <Sectionhead>
            <Fragment slot="title">Diversity</Fragment>
            <Fragment slot="desc">Our commitment and policy</Fragment>
        </Sectionhead>
    </Container>
    <Container class="text-align mt-4 font-sans space-y-4 text-md">
        <p>
            At Intuitem, we are committed to fostering an inclusive and diverse
            workplace that values the unique perspectives, experiences, and
            backgrounds of every employee. We believe that a diverse workforce
            leads to greater innovation, creativity, and success.
        </p>
        <p>
            Our commitment to inclusivity and diversity is reflected in our
            company policies and practices. We strive to create an environment
            where all employees feel valued, respected, and supported. We
            actively promote diversity in our hiring practices, seeking out
            candidates from diverse backgrounds and experiences.
        </p>
        <p>
            We are committed to creating a workplace that is free from
            discrimination, harassment, and bias. We do not tolerate any form of
            discrimination or harassment based on race, color, religion, gender,
            sexual orientation, national origin, age, disability, or any other
            status.
        </p><p>
            To support our commitment to inclusivity and diversity, we regularly
            evaluate our policies and practices to ensure that they are aligned
            with our values and goals. We believe that inclusivity and diversity
            are not just good for our employees, but also for our clients and
            the broader community. By bringing together diverse perspectives and
            experiences, we can provide better solutions and services to our
            clients and contribute to a more inclusive and equitable society.
        </p><p>
            As a company, we are committed to being an ally and advocate for
            underrepresented groups. We support initiatives and organizations
            that promote diversity and inclusion in the tech industry and
            beyond.
        </p><p>
            At Intuitem, we are proud of our commitment to inclusivity and
            diversity, and we will continue to work to create a workplace where
            everyone feels valued and supported.
        </p>
    </Container>
</Layout>
