---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import Frameworks from "@components/frameworks.astro";
import "../../styles/base.css";
---

<Layout title="intuitem: cloud, cyber security and everything in between">
  <Container class=" overflow-y-clip">
    <Hero />
    <Cta />
    <Logos />
    <Frameworks />
    <section class="p-10 relative mt-12">
      <div
        class="absolute w-40 h-48 rounded-full bg-rose-400 blob filter blur-2xl mix-blend-multiply opacity-50 left-40 top-20"
      >
      </div>
      <div class="font-highlight text-center text-rose-900 text-4xl mb-2 z-0">
        Modern and Off-the-shelf solutions
      </div>
      <p class="lg:p-10 py-4 text-justify lg:text-left z-0">
        Amidst a rapidly shifting threat environment, safeguarding your digital
        assets is absolutely critical. Our cybersecurity solutions, whether
        comprehensive or custom-made, transform your operations, fortify
        defenses, and drive constant evolution. From detailed risk evaluations
        to the deployment of sophisticated defense tactics, our services are
        purpose-built to bolster your cybersecurity stance, offering you
        unshakeable resilience and undisrupted business continuity. Navigate the
        digital landscape with confidence and peace of mind, knowing that your
        assets are well-protected with us.
      </p>
    </section>

    <section class="p-10 relative">
      <div
        class="absolute w-40 h-48 rounded-full bg-blue-300 blob filter blur-2xl mix-blend-multiply opacity-50 right-40 top-10 delay-4"
      >
      </div>
      <div class="font-highlight text-center text-4xl text-blue-900 mb-2 z-0">
        Dedicated experts by your side
      </div>
      <p class="lg:p-10 py-4 text-justify lg:text-left z-0">
        Our experts, backed by their rich experience and skill, stand ready to
        guide you through the complexities of today's technology landscape. They
        provide insightful advice, assist in crafting effective strategies, and
        help build robust systems. Moreover, our role doesn't end at merely
        creating solutions: we're committed to enhancing your team's
        capabilities through coaching, ensuring long-term autonomy and optimal
        performance. With us by your side, transform your challenges into
        opportunities for growth.
      </p>
    </section>
  </Container>
</Layout>
