---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Trial">
  <Container class="">
    <Sectionhead>
      <Fragment slot="title">Free trial</Fragment>
      <Fragment slot="desc">
        Start your free 30-days today - No credit card required
      </Fragment>
    </Sectionhead>
    <div class="py-4">
      <iframe style="border:none;width:100%;" height="750px" src="https://opnform.com/forms/trial-form-pvte4j"></iframe>
    </div>
  </Container>
</Layout>
