---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Trial">
  <Container class="p-24">
    <Sectionhead>
      <Fragment slot="title">Free trial</Fragment>
      <Fragment slot="desc">
        Start your free 30-days today - No credit card required 
      </Fragment>
    </Sectionhead>
    <main>
      <script
        charset="utf-8"
        type="text/javascript"
        src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
      <script>
        hbspt.forms.create({
          region: "eu1",
          portalId: "25949168",
          formId: "c8bab735-3ee9-4da8-91ac-5c774d7578c9",
        });
      </script>
    </main>
  </Container>
</Layout>
