---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="CISO Assistant : Conditions Générales d'Utilisation">
    <Container>
        <Sectionhead>
            <Fragment slot="title">MIRA CGU</Fragment>
            <Fragment slot="desc">Conditions Générales d'Utilisation</Fragment>
        </Sectionhead>

        <div class="p-4 space-y-4">
            <div class="font-bold">Préambule</div>
            <p>
                Les présentes Conditions Générales d'Utilisation (ci-après « CGU
                ») ont pour objet de définir les termes et conditions
                d'utilisation de la plateforme CISO Assistant (ci-après « la Plateforme
                »), une solution de gestion de risques développée par Intuitem
                (ci-après « l'Éditeur ») et déployée en mode Software as a
                Service (SaaS).
            </p>
            <p>
                En accédant ou en utilisant la Plateforme, vous acceptez d'être
                lié par les présentes CGU. Si vous n'acceptez pas les CGU, vous
                n'êtes pas autorisé à utiliser la Plateforme.
            </p>

            <div class="font-bold">Définitions</div>

            <p>
                « Abonné » : désigne toute personne physique ou morale ayant
                souscrit un abonnement à la Plateforme.
            </p>
            <p>
                « Compte » : désigne l'espace personnel de l'Abonné, créé lors
                de l'inscription à la Plateforme.
            </p>
            <p>
                « Données » : désigne les informations, fichiers et données que
                l'Abonné soumet, stocke ou traite via la Plateforme.
            </p>
            <p>
                « Services » : désigne les fonctionnalités et services de
                gestion de risques proposés par la Plateforme.
            </p>

            <div class="font-bold">Conditions</div>

            <p>
                L'Éditeur se réserve le droit de modifier les présentes CGU à
                tout moment. Les CGU modifiées seront applicables dès leur mise
                en ligne sur la Plateforme. L'Abonné est invité à consulter
                régulièrement les CGU afin de prendre connaissance des
                modifications apportées. L'Abonné est réputé avoir accepté les
                CGU modifiées dès leur mise en ligne sur la Plateforme.
            </p>
            <p>
                Inscription et création de compte Pour accéder à la Plateforme
                et aux Services : l'Abonné doit s'inscrire en fournissant des
                informations exactes et à jour. L'Abonné est responsable de la
                confidentialité de ses identifiants de connexion et de toutes
                les activités effectuées sous son Compte.
            </p>
            <p>
                Utilisation de la Plateforme : L'Abonné s'engage à utiliser la
                Plateforme et les Services de manière légale, responsable et
                conforme aux présentes CGU. L'Abonné est responsable de toutes
                les Données qu'il soumet, stocke ou traite via la Plateforme.
                L'Éditeur se réserve le droit de suspendre ou résilier l'accès
                de l'Abonné à la Plateforme en cas de violation des présentes
                CGU.
            </p>
            <p>
                Propriété intellectuelle L'Éditeur est titulaire des droits de
                propriété intellectuelle sur la Plateforme et les Services,
                ainsi que sur l'ensemble des éléments qui les composent (textes,
                images, logiciels, etc.). Toute reproduction, représentation,
                diffusion ou exploitation non autorisée de la Plateforme, des
                Services ou de leurs éléments constitutifs est strictement
                interdite.
            </p>
            <p>
                Confidentialité et protection des données L'Éditeur s'engage à
                protéger la confidentialité et la sécurité des Données de
                l'Abonné conformément à la réglementation en vigueur en matière
                de protection des données à caractère personnel. L'Éditeur
                s'engage à mettre en œuvre des mesures techniques et
                organisationnelles appropriées pour assurer la sécurité et la
                confidentialité des Données. Pour plus d'informations, veuillez
                consulter notre Politique de Confidentialité.
            </p>
            <p>
                L'éditeur mets en place des mesures de sécurité pour protéger
                les données de ses clients. Cependant, l'éditeur ne peut pas
                garantir une sécurité absolue des données notamment lors de leur
                transmission sur internet. Il appartient à l'abonné de prendre
                les mesures nécessaires pour protéger ses données, en
                particulier lors d'application critique. L'éditeur ne pourra
                être tenu pour responsable en cas de perte ou piratage de
                données.
            </p>
            <p>
                Durée et résiliation Les présentes CGU sont applicables tant que
                l'Abonné utilise la Plateforme ou les Services. L'Abonné peut
                résilier son abonnement à tout moment en suivant la procédure de
                résiliation décrite dans les conditions particulières de
                l'abonnement. L'Éditeur se réserve le droit de résilier l'accès
                de l'Abonné en cas de violation des présentes CGU.
            </p>
        </div>
    </Container>
</Layout>
