---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Picture } from "@astrojs/image/components";
import MiraLogo from "assets/mira_logo.png";
import Puzzle from "assets/puzzle.png";

---

<Layout title="Mira">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Mira</Fragment>
      <Fragment slot="desc">All-in-One Risk Management Platform</Fragment>
    </Sectionhead>
    <main class="my-8">
      <!-- Vision -->
      <div class="px-8 py-4 text-left mb-4 rounded border-2">
        <div class="text-3xl font-semibold text-indigo-600 font-serif">Vision</div>
        <div class="text-md mb-4">
          Why are we even bothering to create another risk management software?
        </div>
        <div class="md:flex">
          <div class="md:w-1/6">
            <Picture
              src={MiraLogo}
              alt="Mira Logo"
              widths={[500]}
              loading="eager"
              format="avif"
              sizes=" 25%"
            />
          </div>
          <div class="text-align md:w-5/6 space-y-4 text-lg">
            <p>
              As cybersecurity practitioners, we have firsthand experience with
              the challenges of performing risk analysis for our clients. We
              have seen how difficult it can be to fit into existing, complex
              processes that ultimately end up being a waste of time and
              resources, but also starting from scratch each time to duplicate
              the same complexity.
            </p>
            <p>
              Mira was born out of these experiences. We recognized the need for
              a risk management platform that could simplify the process and
              provide actionable insights. What started as a small project for
              our internal needs quickly became a comprehensive solution that we
              knew could benefit many organizations facing similar challenges.
            </p>
            <p>
              We saw a gap in the market for an intuitive, comprehensive, and
              cost-efficient tool that could help organizations handle their
              cybersecurity risks effectively. We believe in risk-driven
              methodologies and are confident that Mira can make a significant
              difference in how businesses approach risk management and enhance
              their overall security posture.
            </p>
          </div>
        </div>
      </div>

      <!-- Principles -->
      <div class="px-8 py-4 text-left mb-4">
        <div class="text-2xl font-semibold text-indigo-600 text-right font-serif">
          Principles
        </div>
        <div class="text-md mb-4 text-right">
          The building principles that make MIRA unique
        </div>
        <div class="md:flex">
          <div class="md:w-1/2 space-y-4 text-lg">
            <p>
              <span class="font-semibold text-emerald-500"
                >Approach-agnostic:</span
              >
              regardless of the risk analysis methodology, we all produce the same
              content with the same intent, and MIRA helps you focus on that. It
              also serves as a safeguard to focus on what matters and avoid getting
              lost in one approach's specifics.
            </p>
            <p>
              <span class="font-semibold text-emerald-500">Intuitive:</span> we believe
              that the best way to make a tool intuitive is to make it simple. We
              have designed Mira to be as straigntforward as possible through multiple
              iterations and interaction with cyber security practitioners.
            </p>
            <p>
              <span class="font-semibold text-emerald-500">Comprehensive:</span>
              we have designed Mira to be a one-stop shop for all your risk management
              needs. The best way to achieve this is to provide a platform that can
              be used by all stakeholders involved in the risk management process
              and reduce the context switching as much as possible.
            </p>
            <p>
              <span class="font-semibold text-emerald-500">Cost-effective:</span
              > we believe that cybersecurity should be accessible to everyone. We
              have designed Mira to be cost-effective for the core features. Power
              users can also use our customization options to tailor the solution
              to their specific needs.
            </p>
            <p>
              <span class="font-semibold text-emerald-500"
                >Beyond the "spreadsheet":</span
              > we wanted MIRA to be more than another typing tool. It has features
              to review your analysis for coherence, remind you of the deadlines
              for mitigations, build analytics for reporting, and so many more capabilities
            </p>
            <p>
              <span class="font-semibold text-emerald-500">Productivity:</span> the
              actual value of analysts is their expertise in producing a relevant
              risk analysis. The UI is structured to minimize the time spent on formatting
              and switching and instead use the catalogs and previous analyses to
              focus on the content.
            </p>
            <p>
              <span class="font-semibold text-emerald-500"
                >Deployment flexibility:</span
              > Mira can be deployed on-premise or in the cloud, depending on your
              maturity and constraints. We offer a free trial to help you decide
              which deployment option is best.
            </p>
          </div>
          <div class="md:w-1/2 md:flex">
            <div class="m-auto">
              <Picture
                src={Puzzle}
                alt="Mira Logo"
                widths={[1000]}
                loading="eager"
                format="avif"
                sizes=" 25%"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Featues -->
      <div class="px-8 py-4 mb-4 border-2 rounded">
        <div class="text-2xl font-semibold text-indigo-600 font-serif">Features</div>
        <div class="mb-4 text-md">
          Core features that can be supercharged to fit your needs
        </div>
        <p>
          <ul class="list-disc p-4 grid grid-cols-2 gap-4 text-lg">
            <li>Folder-based access control</li>
            <li>Catalog feature to reuse security functions</li>
            <li>Analyst personal dashboard</li>
            <li>Automated risk analysis review (X-Rays)</li>
            <li>OWASP scoring assistant</li>
            <li>Exec dashboard</li>
            <li>PDF/CSV export</li>
            <li>Backup/Restore capabilities</li>
            <li>Matrix customization</li>
            <li>Jira integration</li>
            <li>Threats catalog</li>
            <li>Risk Acceptance management</li>
            <li>AI-assisted analysis*</li>
            <li>Adversary simulator*</li>
          </ul>
          (*coming soon)
        </p>
      </div>

      <!-- Get started -->
      <div class="px-8 py-4 mb-4">
        <div class="text-2xl font-semibold text-indigo-600 font-serif">Get started</div>
        <div class="text-md mb-4">Help me choose the most suitable offer</div>
        <p class="text-lg">
          We provide different options to fit your needs:
          <ul class="list-disc p-4">
            <li>
              <a href="#" target="" rel="" class="font-semibold text-orange-500"
                >Cloud-instance</a
              >
              - the easiest way to get started with Mira. No infrastructure is required;
              sign up and use Mira in minutes.
            </li>
            <li>
              <a href="#" target="" rel="" class="font-semibold text-orange-500"
                >Self-managed</a
              >
              - if you prefer to host Mira on your infrastructure, we can provide
              you with a Docker image and Kubernetes manifest to get you started.
            </li>
            <li>
              <a href="#" target="" rel="" class="font-semibold text-orange-500"
                >Custom</a
              >
              - if you have specific needs, we can offer a custom offer with extra
              features and support. We ensure that the core team maintains and supports
              the additional features.
            </li>
            <li>
              <a href="#" target="" rel="" class="font-semibold text-orange-500"
                >Free</a
              >
              - Beyond the free trial, we also offer a free-forever version for education,
              healthcare, and non-profit organizations.
            </li>
          </ul>
        </p>
      </div>
    </main>
    <cta>
      <div class="grid grid-cols-2 gap-4 text-center text-3xl font-semibold rounded py-4">
        <div><a href="/trial" class="text-white bg-indigo-600 hover:bg-indigo-400 w-1/2 p-4 rounded shadow">🚀 Let's go</a></div>
        <div><a href="/mira_gallery" class="text-white bg-pink-600 hover:bg-pink-400 w-1/2 p-4 rounded shadow">🚀 Gallery</a></div>
      </div>
    </cta>
  </Container>
</Layout>
