---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Self-managed",
    price: {
      monthly: "3600 €",
    },
    popular: false,
    features: [
      "Deploy MIRA on your own infrastructure",
      "Yearly-billing and flat for up to 20 users",
      "Standard support",
      "Manage your updates and backups",
      "Integration on-demand",
      "Community portal",
      "Beta versions preview"
    ],
    button: {
      text: "Get Started",
      link: "/trial",
    },
  },
  {
    name: "Cloud-instance",
    price: {
      monthly: "4800 €",
    },
    popular: true,
    features: [
      "We handle hosting and operations",
      "Yearly-billing and flat for up to 20 users",
      "France-located datacenter",
      
      "Standard support",
      "Automatic backups & updates (with notification)",
      "Standard SLA",
      "Community portal",
    ],
    button: {
      text: "Get Started",
      link: "/trial",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "Customized features for your needs",
      "Deploy on custom domains",
      "Integration assistance (to fit your infrastructure)",
      "SAML & SSO",
      "MSSP custom packaging",
      "Branding and white-labeling",
      "Advanced support and SLA (according to your needs)",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Mira pricing is simple, predictive and cost-efficient. All pacakges are on a yearly-billing.<br />
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
  <Container>
    <div class="mt-6 md:px-36">
    <div class="text-align my-4 p-4 rounded-lg border-2">
      <div class="text-2xl font-semibold mb-2">Free</div>
      <div class="">30-days to try out all the features of MIRA. No credit card required. <a href="/trial" class="font-semibold text-indigo-600">Start now!</a>
        <div><span class="text-orange-500 font-semibold">New:</span> Self-managed offer is <span class="font-semibold">free forever</span>
          for education, healthcare and non-profit organizations.</div>
      
      </div>
    </div>
  </div>
  </Container>
</Layout>
