---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Self-managed",
    price: {
      monthly: "Free",
    },
    popular: false,
    features: [
      "Deploy MIRA locally or on your own infrastructure",
      "AGPLv3 license",
      "Community support",
      "Manage your updates and backups",
      "Integration assitance on-demand",
    ],
    button: {
      text: "Get Started",
      link: "https://github.com/intuitem/mira-community",
    },
  },
  {
    name: "Cloud-instance",
    price: {
      monthly: "19€ / contrib / month",
    },
    popular: true,
    features: [
      "We handle hosting and operations",
      "Readers seats are free. You only pay for contributors",
      "EU-located datacenter",
      "Priority support",
      "Automatic backups & updates (with notification)",
      "Customers portal",
      "Early access to Beta preview"
    ],
    button: {
      text: "Free trial",
      link: "/trial",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "Volume discounts",
      "Customized features for your needs",
      "Deploy on custom domains",
      "Integration assistance (to fit your infrastructure)",
      "SAML & SSO",
      "MSSP custom packaging",
      "Branding and white-labeling",
      "Advanced support and SLA (according to your needs)",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Mira pricing is simple, predictive and cost-efficient. All pacakges are on a <strong>yearly-billing</strong>.<br />
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>

</Layout>
