---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";


---

<Layout title="Trial">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Privacy Policy</Fragment>
      <Fragment slot="desc">WiP</Fragment>
    </Sectionhead>
    <main>
      <h1></h1>
      <div>
        <a href="/privacy/">here</a>
      </div>
 </main>
  </Container>
</Layout>
