---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Trial">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Request trial</Fragment>
      <Fragment slot="desc">Start your free 30-days trial today</Fragment>
    </Sectionhead>
    <main>
      <script
        charset="utf-8"
        type="text/javascript"
        src="//js-eu1.hsforms.net/forms/embed/v2.js"
      ></script>
      <script>
        hbspt.forms.create({
          region: "eu1",
          portalId: "25949168",
          formId: "9b57ea10-e409-455e-9451-8a3a60736490",
        });
      </script>
    </main>
  </Container>
</Layout>
