---
const { item } = Astro.props;
---

<div class="p-4 m-2 rounded shadow hover:shadow-lg hover:bg-slate-700 hover:bg-gradient-to-r text-white md:h-40 bg-gradient-to-br from-indigo-400 to-indigo-800">
    <div class="text-xl mb-2 font-mono font-semibold">{item.title}</div>
    <div class="text-sm">{item.desc}</div>

</div>