---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Cloud architecture",
    description:
      "Designing patterns for cloud-native applications or the landing zones to prepare your migrattion. Help you chose and implement the right practices and tools for a reliable, scalable and secure infrastructure.",
    icon: "bx:bxs-data",
  },
  {
    title: "Cyber security and compliance",
    description:
      "Define and implement cyber security programs to protect your data, applications and infrastructure. Our hands-on approach is highly appreciated by our customers and partners to push modern practices and DevSecOps cutlure.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Software development",
    description:
      "With our expertise in software development for our own solutions, multiple customers requested assistance to accelerate their R&D, either for a new product or to improve an existing one.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Program management and scaling",
    description:
      "Our experience in scaling and managing teams and projects will help you define the right processes and tools to improve your efficiency and productivity, while keeping the right balance between agility, modern practices and control.",
    icon: "bx:bxs-user",
  },
  {
    title: "Data engineering",
    description:
      "From simple ETL pipelines feeding a BI tool, to large scale data lakes and data warehouses, our experts will guide you for a cost-efficient and scalable solution.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Operations and SRE",
    description:
      "Either you're starting or scaling up your operations team, we can help you define the right processes and tools to ensure your business continuity.",
    icon: "bx:bxs-bot",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Hands-on experts to tackle your toughest challenges
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We are a small team with big talents. We help you solve complex problems in optimal and sustainable ways. Here are some of the frequently asked areas that we can assist you with:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
