<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright  © 2018-{new Date().getFullYear()} intuitem. All rights reserved.<br/>
    SIREN  844 508 192  -  RCS  Versailles  -  Code APE  6202A - TVA FR18844508192<br/>
    <a href="/privacy-policy" class="text-slate-500 hover:text-slate-700">Privacy Policy</a> | <a href="/terms-of-service" class="text-slate-500 hover:text-slate-700">Terms of Service</a> | <a href="/diversity" class="text-slate-500 hover:text-slate-700">Diversity</a>
  </p>

</footer>
