---
import LanguagePicker from "./LanguagePicker.astro";
---
<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright  © 2018-{new Date().getFullYear()} intuitem.<br/>Tous droits réservés - All rights reserved.<br/>
    SIREN  844 508 192  -  RCS  Versailles <br/>SARL au capital de 100 000 €<br/>
    <a href="/privacy-policy" class="text-slate-500 hover:text-slate-700">Privacy Policy</a> | <a href="/terms-of-service" class="text-slate-500 hover:text-slate-700">Terms of Service</a> | <a href="/diversity" class="text-slate-500 hover:text-slate-700">Diversity</a>
  </p>


</footer>
