---
import { Image } from "astro:assets";
import heroImage from "@assets/hero_3.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";

import "../styles/base.css";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 px-10 relative"
>
  <div
    class="absolute top-0 left-0 w-72 h-72 bg-emerald-400 filter blur-2xl rounded-full mix-blend-multiply opacity-70 blob"
  >
  </div>
  <div
    class="absolute top-0 left-40 w-72 h-72 filter blur-2xl bg-cyan-500 rounded-full mix-blend-multiply opacity-70 blob delay-3"
  >
  </div>
  <div
    class="absolute top-40 left-20 w-72 h-72 bg-amber-200 rounded-full mix-blend-multiply filter blur-2xl opacity-80 blob delay-6"
  >
  </div>

  <div class="py-6 md:order-1 hidden md:block z-0">
    <Image
      src={heroImage}
      alt="Collaborate to build"
      loading="eager"
      sizes="100%"
      format="avif"
    />
  </div>

  <div class="text-indigo-950">
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
    >
      {t("hero.title_l1")}
    </h1>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
    >
      {t("hero.title_l2")}
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      {t("hero.paragraph1")}
    </p>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      {t("hero.paragraph2")}
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="solutions#products"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener"
      >
        <Icon class="text-white w-5 h-5" name="ic:baseline-fiber-new" />

        {t("hero.button.primary")}
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="solutions#services"
        class="flex gap-1 items-center justify-center"
      >
        <Icon class="text-black w-4 h-4" name="ic:outline-handshake" />
        {t("hero.button.secondary")}
      </Link>
    </div>
  </div>
</main>
