---
import { languages } from '../i18n/ui';
---
<ul>
  {Object.entries(languages).map(([lang, label]) => (
    <span class="text-xl hover:ring-1 hover:ring-zinc-400 hover:rounded mx-1 text-center">
      <a href={`/${lang}/`}>{label}</a>
    </span>
  ))}
</ul>