---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Image } from "astro:assets";
import MiraLogo from "assets/mira_logo.png";
import Puzzle from "assets/mira_support.png";

import "../../../styles/base.css"
---

<Layout title="CISO Assistant">
  <Container class=" overflow-y-clip">
    <Sectionhead>
      <Fragment slot="title">CISO Assistant</Fragment>
      <Fragment slot="desc">The all-in-one risk management platform</Fragment>
    </Sectionhead>
    <main class="my-8">
      <!-- Vision -->
      <section class="lg:p-10 text-left lg:m-20 p-4 m-4 relative">

        <div class=" absolute w-40 h-40 rounded-full bg-cyan-500 opacity-70 mix-blend-multiply filter blur-2xl left-40 top-20 blob">
        </div>

        <div class="text-3xl text-indigo-900 font-title text-center">🧭 Vision</div>
        <div class=" mb-8 font-highlight text-center text-slate-700">
          Why are we even bothering to create another risk management software?
        </div>
        <div class="md:flex">
          <div class="md:w-1/6">
            <Image
              src={MiraLogo}
              alt="CISO Assistant Logo"
              loading="eager"
              format="avif"
              sizes=" 25%"
            />
          </div>
          <div class="text-align md:w-5/6 space-y-4">
            <p>
              As cybersecurity practitioners, we have firsthand experience with
              the challenges of performing risk analysis for our clients. We
              have seen how difficult it can be to fit into existing, complex
              processes that ultimately end up being a waste of time and
              resources, but also starting from scratch each time to duplicate
              the same complexity.
            </p>
            <p>
              CISO Assistant was born out of these experiences. We recognized the need for
              a risk management platform that could simplify the process and
              provide actionable insights. What started as a small project for
              our internal needs quickly became a comprehensive solution that we
              knew could benefit many organizations facing similar challenges.
            </p>
            <p>
              We saw a gap in the market for an intuitive, comprehensive, and
              cost-efficient tool that could help organizations handle their
              cybersecurity risks effectively. We believe in risk-driven
              methodologies and are confident that CISO Assistant can make a significant
              difference in how businesses approach risk management and enhance
              their overall security posture.
            </p>
          </div>
        </div>
      </section>

      <!-- Principles -->
      <section class="lg:p-10 text-left lg:m-20 p-4 m-4 relative">

        <div class=" absolute w-64 h-64 rounded-full bg-amber-200 opacity-70 mix-blend-multiply filter blur-2xl -right-40 -top-10 blob delay-3">
        </div>

        <div class="text-3xl text-indigo-900 font-title text-center">
          ⚙️ Principles
        </div>
        <div class=" mb-8 font-highlight text-center text-slate-700">
          The building principles that make MIRA unique
        </div>
        <div class="md:flex">
          <div class="md:w-1/2 space-y-4">
            <p>
              <span class="font-semibold text-emerald-500"
                >Approach-agnostic:</span
              >
              regardless of the risk analysis methodology, we all produce the same
              content with the same intent, and MIRA helps you focus on that. It
              also serves as a safeguard to focus on what matters and avoid getting
              lost in one approach's specifics.
            </p>
            <p>
              <span class="font-semibold text-emerald-500">Intuitive:</span> we believe
              that the best way to make a tool intuitive is to make it simple. We
              have designed CISO Assistant to be as straigntforward as possible through multiple
              iterations and interaction with cyber security practitioners.
            </p>
            <p>
              <span class="font-semibold text-emerald-500">Comprehensive:</span>
              we have designed CISO Assistant to be a one-stop shop for all your risk management
              needs. The best way to achieve this is to provide a platform that can
              be used by all stakeholders involved in the risk management process
              and reduce the context switching as much as possible.
            </p>
            <p>
              <span class="font-semibold text-emerald-500">Cost-effective:</span
              > we believe that cybersecurity should be accessible to everyone. We
              have designed CISO Assistant to be cost-effective for the core features. Power
              users can also use our customization options to tailor the solution
              to their specific needs.
            </p>
            <p>
              <span class="font-semibold text-emerald-500"
                >Beyond the "spreadsheet":</span
              > we wanted MIRA to be more than another typing tool. It has features
              to review your analysis for coherence, remind you of the deadlines
              for mitigations, build analytics for reporting, and so many more capabilities
            </p>
            <p>
              <span class="font-semibold text-emerald-500">Productivity:</span> the
              actual value of analysts is their expertise in producing a relevant
              risk analysis. The UI is structured to minimize the time spent on formatting
              and switching and instead use the catalogs and previous analyses to
              focus on the content.
            </p>
            <p>
              <span class="font-semibold text-emerald-500"
                >Deployment flexibility:</span
              > CISO Assistant can be deployed on-premise or in the cloud, depending on your
              maturity and constraints. We offer a free trial to help you decide
              which deployment option is best.
            </p>
          </div>
          <div class="md:w-1/2 md:flex">
            <div class="m-auto">
              <Image
                src={Puzzle}
                alt="CISO Assistant Logo"
                loading="eager"
                format="avif"
                sizes=" 25%"
              />
            </div>
          </div>
        </div>
      </section>

      <!-- Featues -->
      <section class="lg:p-10 text-left lg:m-20 p-4 m-4 relative">

        <div class=" absolute w-64 h-64 rounded-full bg-emerald-400 opacity-50 mix-blend-multiply filter blur-3xl -left-40 top-20 blob delay-6">
        </div>

        <div class="text-3xl text-indigo-900 font-title text-center">☑️ Features</div>
        <div class=" mb-8 font-highlight text-center text-slate-700">
          Core features that can be supercharged to fit your needs
        </div>
        <p>
          <ul class="list-disc p-4 grid grid-cols-2 gap-4">
            <li>Folder-based access control</li>
            <li>Catalog feature to reuse security functions</li>
            <li>Analyst personal dashboard</li>
            <li>Automated risk analysis review (X-Rays)</li>
            <li>OWASP scoring assistant</li>
            <li>Exec dashboard</li>
            <li>PDF/CSV export</li>
            <li>Backup/Restore capabilities</li>
            <li>Matrix customization</li>
            <li>Jira integration</li>
            <li>Threats catalog</li>
            <li>Risk Acceptance management</li>
            <li>AI-assisted analysis*</li>
            <li>Adversary simulator*</li>
          </ul>
          (*coming soon)
        </p>
      </section>

      <!-- Get started -->
      <section class="lg:p-10 text-left lg:m-20 p-4 m-4 relative">

        <div class=" absolute w-40 h-40 rounded-full bg-violet-500 opacity-70 mix-blend-multiply filter blur-3xl right-40 top-20 blob delay-6">
        </div>  

        <div class="text-3xl text-indigo-900 font-title text-center">🚀 Get started</div>
        <div class=" mb-8 font-highlight text-center text-slate-700">Help me choose the most suitable offer</div>
        <p class="">
          We provide different options to fit your needs:
          <ul class="list-disc p-4">
            <li>
              <a href="#" target="" rel="" class="font-semibold text-orange-500"
                >Cloud-instance</a
              >
              - the easiest way to get started with CISO Assistant. No infrastructure is required;
              sign up and use CISO Assistant in minutes.
            </li>
            <li>
              <a href="#" target="" rel="" class="font-semibold text-orange-500"
                >Self-managed</a
              >
              - if you prefer to host CISO Assistant on your infrastructure, we can provide
              you with a Docker image and Kubernetes manifest to get you started.
            </li>
            <li>
              <a href="#" target="" rel="" class="font-semibold text-orange-500"
                >Custom</a
              >
              - if you have specific needs, we can offer a custom offer with extra
              features and support. We ensure that the core team maintains and supports
              the additional features.
            </li>
            <li>
              <a href="#" target="" rel="" class="font-semibold text-orange-500"
                >Free</a
              >
              - Beyond the free trial, we also offer a free-forever version for education,
              healthcare, and non-profit organizations.
            </li>
          </ul>
        </p>
      </section>
    </main>
    <section
      class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-4 p-8 md:p-0"
    >
      <a
        href="/en/trial"
        class="bg-emerald-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto text-center"
      >
        <span class="">Free trial</span>
      </a>
      <a
        href="/pricing"
        class="bg-cyan-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto text-center"
      >
        <span class="">Pricing details</span>
      </a>
      <a
        href="/mira_gallery"
        class="bg-orange-300 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded w-full md:w-auto text-center"
      >
        <span class="">Screenshots</span>
      </a>
    </section>
  </Container>
</Layout>
